<div class="ant-spin-container ng-star-inserted">
    <!-- Informations Client -->
    <div class="steps-content">

        <h4>Liste Devises</h4>
        <div class="width-100">
            <nz-table #middleTable nzSize="middle">
            <thead>
                <tr>
                    <th>Nom Devise</th>
                    <th>Code ISO</th>
                    <th>Utilisateur</th>
                    <th>Date Cr&eacute;ation</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curr of currencies">
                    <td>{{ curr.name }}</td>
                    <td>{{ curr.isocode}}</td>
                    <td>{{ curr.user.username }}</td>
                    <td>{{ curr.createdAt | date : 'dd/MM/YYYY HH:mm:SS' }}</td>
                    
                    <td> 
                        <button nz-button nzType="default" nzSize="small" (click)="showCurrency(curr)" > 
                            <i nz-icon nzType="info-circle" nzTheme="outline"></i> 
                        </button> 
                        | 
                        <button nz-button nzType="default" nzSize="small" (click)="editCurrency(curr)"> 
                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                        </button> 
                        |
                        <button nz-button nz-popover nzType="dashed" nzPopoverTitle="Action" nzPopoverContent="Supprimer" nzSize="small" (click)="showDeleteConfirm(curr)" > 
                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                        </button>
                    
                    </td>
                </tr>
            </tbody>
            </nz-table>

        </div>

    </div>

</div>





<!-- Modal Details -->
<nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Détail Devise"
    (nzOnCancel)="handleCancel()"
    nzCentered
    (nzOnOk)="handleOk()"
>
    <ng-container *nzModalContent  >
        <div class="card" *ngIf="currency" >
            <p><b>Nom Devise</b>      : {{currency.name}}</p>
            <p><b>Code ISO</b>          : {{currency.isocode }}</p>
            <p><b>Cr&eacute;e le</b>   : {{currency.createdAt  | date:'dd/MM/YYYY HH:mm:SS' }}</p>
            <p><b>Cr&eacute;e par</b>  : {{currency.user.username }}</p>
        </div>
      </ng-container>
</nz-modal>








<!-- Modal Edition -->
<nz-modal *ngIf="currency" 
    [(nzVisible)]="isEditable"
    nzTitle="Edition Devise"
    (nzOnCancel)="handleCancel()"
    nzCentered
    (nzOnOk)="handleOkEditCurrency(currency)"
>
    <ng-container *nzModalContent  >
        <div class="card" >
            <p>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10">Nom Devise</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Champ requis">
                        <input nz-input name="name" [(ngModel)]="currency.name" ngValue="currency.name" required class="ant-input ng-pristine ng-valid ng-touched" ng-reflect-model="Required Input" />
                    </nz-form-control>
                </nz-form-item>
            </p>

            <p>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10">Code ISO</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Champ requis">
                        <nz-input-number name="isocode" [(ngModel)]="currency.isocode" ngValue="currency.isocode" [nzMin]=1 required class="ant-input ng-pristine ng-valid ng-touched" ng-reflect-model="Required Input" ></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </p>
            
            
            <p>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10">Date Cr&eacute;ation </nz-form-label>
                    <nz-form-control [nzSpan]="12"nzHasFeedback>
                        <nz-date-picker name="createdAt" [(ngModel)]="currency.createdAt" ngValue="currency.createdAt" [nzFormat]="dateFormat" required></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </p>
            
            <p>
                <nz-form-item>
                    <nz-form-label [nzSpan]="10">Cr&eacute;&eacute; Par. </nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="required">
                        <nz-select name="user" nzDisabled [compareWith]="compareFn" [(ngModel)]="currency.user" class="ant-input ng-pristine ng-valid ng-touched" >
                            <nz-option [nzValue]="currency.user"  [nzLabel]="currency.user.username"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </p>

        </div>
      </ng-container>
</nz-modal>