<nz-layout class="layout">
        
    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
        
        <div class="logo">
            <img src="assets/img/logo.png" class="img-logo" />
        </div>

        <!--app-sidebars></app-sidebars-->
        <app-asv-sidebar></app-asv-sidebar>

    </nz-sider>

    <nz-layout>
        
        <app-headers></app-headers>

        <nz-content>
            <div class="inner-content">
                
                <!--app-breadcrumb></app-breadcrumb-->
                
                <div nz-row nzgutter="10" class="ant-row" >
                    
                    <div class="ant-spin-container ng-star-inserted" >
                        
                    </div>

                </div>

                <div nz-row nzgutter="14" class="ant-row" style="width:100%; display:inline;" >
                    <router-outlet></router-outlet>
                </div>
                
            </div>
        </nz-content>

        <app-footers> 
        </app-footers>

    </nz-layout>
    
</nz-layout>