<div class="ant-spin-container ng-star-inserted">
    
    <nz-steps>
      <nz-step nzTitle="Changement Mot de passe" nzIcon="user-add" ></nz-step>
    </nz-steps>

    <!-- Informations Client -->
    <div class="steps-content">
        
        <form [formGroup]="passwordForm" (ngSubmit)="changePwd()" > 
            
            <nz-collapse  class="ant-collapse ant-collapse-icon-position-left" >
                
                <nz-collapse-panel [nzShowArrow]="false" [nzActive]="true" [nzHeader]="header" class="ant-collapse-item ant-collapse-item-active ng-star-inserted" >
                    
                    <div nz-row [nzGutter]="24">

                        <div nz-col [nzSpan]="12">
                            
                            <nz-form-item>
                                    <nz-form-label [nzSpan]="10">Utilisateur</nz-form-label>
                                    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="required">
                                        <input nz-input name="user" formControlName="user" [ngModel]="sessionData" required class="ant-input ng-pristine ng-valid ng-touched" ng-reflect-model="Required Input" readonly />
                                    </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzSpan]="10" nzRequired>Ancien</nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Champ requis">
                                    <input type="password" nz-input formControlName="oldPwd"  [ngModel]="sessionData"  placeholder="oldPwd" readonly />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col [nzSpan]="12">
                            
                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzRequired>Nouveau</nz-form-label>
                                <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Mot de passe Incorrect">
                                    <input nz-input type="password" formControlName="newPwd" (ngModelChange)="validateConfirmPassword()" />
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzRequired>Confirmer</nz-form-label>
                                <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                                    <input nz-input type="password" formControlName="confirmPwd" placeholder="confirm your password" />
                                    <ng-template #passwordErrorTpl let-control>
                                        <ng-container *ngIf="control.hasError('required')">Merci de confirmer le mot de passe!</ng-container>
                                        <ng-container *ngIf="control.hasError('confirm')">Mots de passes non identiques!</ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>

                        </div>


                    </div>

                </nz-collapse-panel>

            </nz-collapse>

        </form>
                            
    </div>



    <div class="steps-action">
      
      <button nz-button nzType="primary" (click)="changePwd()" [disabled] = "!passwordForm.valid" >
        <span>Sauvegarder</span>
      </button>
     
      <button nz-button nzType="primary"  (click)="resetForm($event)"  >
        <span>Reset</span>
      </button>

    </div>

</div>