    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
        <div class="logo"></div>
        
        <ul nz-menu nzTheme="dark" nzMode="inline">

          <li nz-menu-item>
            <i nz-icon nzType="user"></i>
            <span>Client</span>
          </li>
          <li nz-menu-item>
            <i nz-icon nzType="video-camera"></i>
            <span>Packages</span>
          </li>
          <li nz-menu-item>
            <i nz-icon nzType="upload"></i>
            <span>Police</span>
          </li>

        </ul>
    </nz-sider>